{% extends "main.html" %}


<!DOCTYPE html>
<html>

<head>
    <head>
        {% block page_name %}
        <title>About</title>
        {% endblock %}
    
    </head>
</head>
{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->

<h3>Your Authors</h3>
<ul>
    <li>Emilio Tadeo de la Rocha Galan</li>
    <li>Daniel Marin</li>
    <li>Oluwayimika Adeyemi</li>
    <li>Lerone Joyner</li>
</ul>
<!-- TODO(Project 1): Add team members and pictures to about page. -->

{% endblock %}

