{% extends "main.html" %}
<!DOCTYPE html>
<html>
  <head>
    {% block page_name %}
    <title>Uploaded Page</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>Uploaded Page</h1>
    <p>{{ display }}</p>
    <h2>Comments</h2>
    <form action = "/upload/upload_comment/{{page_name}}/None" method = "post"> 
        <input type="text" id="comment" name="comment" placeholder="Enter your Comment" />
        <input type="submit" value="Upload">  
    </form>
    {% endblock %}
  </body>
</html>