<!DOCTYPE html>
<html>

<head>
    <head>
        {% block page_name %}
        <title>Star Wars Wiki</title>
        {% endblock %}
    
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    
    <div class="topnav">
        <a class="active" href="/main">Home</a>
        <a href="/pages">Pages</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
      </div>
      
      
    <div>
    

        {% block content %}
        The Star Wars Wikipedia
        {% endblock %}
    </div>
    
</body>

</html>
