{% extends "main.html" %}
<!DOCTYPE html>
<html>
    

<head>
    <head>
        {% block page_name %}
        <title>Wiki Pages</title>
        {% endblock %}
    </head>
</head>

<body>
    
    <!-- TODO(Project 1): Implement routes. -->
    <div>
        {% block content %}
           
        <h3>Pages Contained in this Wiki</h3>

        
        {% for key in page_names%}
        <li>key.name</li>
        <li><a href="key">Capy</a></li>
        
        {% endfor %}

        {% endblock %}

            
        
    </div>
</body>

</html>