{% extends "main.html" %}
<!DOCTYPE html>
<html>

<head>
    <head>
        {% block page_name %}
        <title>Sign up</title>
        {% endblock %}
    
    </head>
</head>

<body>
    {% block content %}
    <h3>Sign up</h3>
    {% if failure %}
        <p>Username is already taken, please choose another name</p>
    {% endif %}
    <form action="/signup/validate" method="post">  
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Username"> <br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" placeholder="Password"> <br> 
        <input type = "submit" value="Sign Up"> 
    </form>
    {% endblock %}
</body>    