{% extends "main.html" %}
<!DOCTYPE html>
<html>

<head>
    <head>
        {% block page_name %}
        <title>Upload</title>
        {% endblock %}
    
    </head>
</head>

<body>
    {% block content %}
        <h3>Select a file to upload (md, jpg, png, gif, zip)</h3>
        <form action = "/upload/upload_submit" method = "post" enctype="multipart/form-data"> 
            <input type="text" id="wikiname" name="wikiname" placeholder="wikiname" />
            <input type="file" id="file" name="file" />
            <input type="submit" value="Upload">  
        </form>
    {% endblock %}
</body>

